streamlit
requests
pandas
plotly
DateTime
python-dateutil
xmltodict
certifi
pip_system_certs
python-certifi-win32
openpyxl
oracledb
python-dotenv 
cx-oracle
psycopg2
sqlalchemy
joblib
pyodbc